#textmess {
    background-color: rgb(219, 110, 67);
    font-family: monospace;
}
#header {
    border: black 1px solid;
    text-align: center;
    color: darkred;
    background-color: rgb(247, 70, 0);
}
#tileBoard{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    padding: 15px;
}
#button {
    border: rgb(90, 89, 89) 4px;
    padding: 10px 20px;
    font-size: large;
    background-color: rgb(148, 148, 34);
    color: rgb(223, 7, 7);
    text-align: center;
    font-family: monospace;
}

#tile{ 
    background-color: rgb(255, 255, 255);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
#tile2{
    background-color: rgb(250, 243, 142);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
#tile4{
    background-color: rgb(245, 188, 1);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
#tile8{
    background-color: rgb(245, 139, 52);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
#tile16{
    background-color: rgb(201, 92, 4);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
#tile32{
    background-color: rgb(243, 101, 65);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
#tile64{
    background-color: rgb(53, 219, 11);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
#tile128{
    background-color: rgb(95, 248, 159);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
#tile256{
    background-color: rgb(0, 233, 163);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
#tile512{
    background-color: rgb(149, 243, 231);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
#tile1024{
    background-color: rgb(0, 204, 255);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
#tile2048{
    background-color: rgb(0, 195, 255);
    color: rgb(66, 60, 60);
    border-radius: 5px;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}

#textmess{
    color: darkblue;
    text-align: center;
    font-size: xx-large;
}